{% extends 'base.html.twig' %}

{% block content %}

	{% for message in app.flashes('errors') %}
		<div class="alert">
            <strong>Warning!</strong> {{ message }}
        </div>
	{% endfor %}

	<div id="container">

		<form method="post" action="{{ path('login_check') }}" id="connexion_admin">

			<h1>User connexion</h1>
			
				<input id="entrer" type="text" name="_username" placeholder="USERNAME" value="{{ lastUsername }}">

				<input id="entrer" type="password" name="_password" placeholder="PASSWORD">

				<input id='bouton' type="submit" value="connexion">

			<a href="/signUp">Not registered ?</a>

		</form>

	</div>

    <style>
    
    #container{
        width: 40%;
        margin: auto;
        margin-top:10%;
    }

    #connexion_admin {
        padding: 5vh;
        border: 2px solid #f1f1f1;
        box-shadow: 0 0 0.5vh;
    }
    #container h1{
        padding-bottom: 3vh;
        margin: 0;
        text-align: center;
    }


    #entrer {
        padding: 1.8vh 2.2vh;
        margin: 0.5vh;
        width: 100%;
        border:2px solid;
        font-size: 100%;
        margin-bottom: 2vh;
    }


    #bouton {
        background-color: #3087e1;
        color: white;
        padding: 1.5vw 1.8vw;
        margin: 8px 0;
        border: 1px solid #3087e1;
        width: 100%;
    }
    #bouton:hover {
        background-color: white;
        color: #3087e1;
    }

    .alert {
        text-align: center;
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    </style>

{% endblock %}